@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --color-main-blue: #2a2a72;
  --color-secondary-blue: #5b5bf7;
  --color-button-blue: #009ffd;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F4F3F4;
}
